/*
 .class
 #id
 */ @font-face {font-family:prime;
    font-style: normal;
    font-weight: normal;
    src:
    url(http://roy.selfip.org/font/almanack.ttf);
}
@font-face {font-family:almanack;
    font-style: normal;
    font-weight: normal;
    src:
    url(http://roy.selfip.org/font/almanack.ttf);
}

body .container {
    margin: 0 auto;
    position: relative;
    width: 960px;
    height: 50px;
    font-family: Helvetica;
}

#header {
    padding-top: 8px;
}

ul.topnav {
    background: url(../img/topnav_bg.gif) repeat-x;
    font-size: 1.2em;
    list-style: none;
    margin: 0 auto;
    padding: 0 20px;
    width: auto;
}

ul.topnav li {
    float: left;
    margin: 0;
    padding: 0 15px 0 0;
    position: relative;
}

ul.topnav li a {
    color: #fff;
    display: block;
    float: left;
    padding: 10px 5px 0 5px;
    text-decoration: none;
}

ul.topnav li span {
    background: url(../img/subnav_btn.gif) no-repeat center top;
    float: left;
    height: 35px;
    width: 17px;
}

ul.topnav li ul.subnav {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background: #333;
    border: 1px solid #111;
    display: none;
    float: left;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    z-index: 100;
}

ul.topnav li ul.subnav li {
    border-bottom: 1px solid #444;
    border-top: 1px solid #252525;
    clear: both;
    margin: 0;
    padding: 0;
    width: 96%;
}

body {
    background: url(../img/body_bg.png) no-repeat scroll center top #202020;
    background-position: 0 -95px;
    color: #EDE5F0; /* #BBBBBB; */
    font-size: 14px;
    font-family: Helvetica, Verdana, Geneva, sans-serif;
    margin: 0;
    min-width: 960px;
    padding: 0;
}

#full a {
    background: none;
    display: inline;
    float: none;
    padding-left: 5px;
    width: 85px;
}
@font-face {font-family:androgyne;
    src:
    url(css/androgyne.otf);
}

#full {
    position: relative;
}

#small {
    position: relative;
    top: 120px;
}

#full ul {
    list-style: none outside none;
    padding: 0;
}

#full li {
    font-size: 16px;
    font-weight: 800;
    padding: 9px 0 4px 22px;
    text-shadow: 1px 1px 1px #000;
}

#full dl {
    padding: 6px 0 2px;
}

#full dt {
    display: inline;
    font-size: 12px;
    font-weight: 400;
    padding: 0 0 0 22px;
    text-shadow: 1px 1px 5px #000;
}

#pentateuco {
    color: #FFC341;
}

#storici {
    color: #5BB6E4;
}

#poetici {
    color: #FF5555;
    text-shadow: 1px 1px 5px #000;
}

#profetici {
    color: #FFDCA8;
}

#vangeli {
    color: #17C400;
}

#lettere {
    color: #896FFF;
}

a {
    color: #EDE5F0; /*#BBBBBB;*/
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    display: inline;
    margin: 6px 0 0;
}

select {
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 0 0 8px;
    padding: 0 0 0 4px;
}

#phs {
    position: relative;
    height: 450px;
    width: 95%;
    margin: 0 0 0 -215px;
    right: -15%;
}

#phs input[type =
"submit"] {
    position: absolute;
    width: 2em;
    left: 240px;
}

#phs #cerca {
    position: absolute;
    width: 10em;
    left: 80px;
    color: #bbb;
    font-family: Helvetica;
    text-shadow: 1px 1px 1px #888;
    border: none;
    border-bottom: solid silver 1px;
    background-color: rgba(255, 255, 255, 0);
}

#alfabetico {
    font-weight: 800;
    font-variant: small-caps;
    position: absolute;
    text-align: center;
    margin: 25px 0 25px 0;
    left: 65px;
    top: 5px;
    border: dotted green 1px;
}

#frequenza {
    font-weight: 800;
    font-variant: small-caps;
    position: absolute;
    text-align: center;
    margin: 25px 0 25px 0;
    left: 65px;
    top: 215px;
    border: dotted green 1px;
}

#selector1 {
    position: absolute;
    top: 5;
    margin: 25px 0 25px 0;
    left: 80px;
    width: 200px;
    border: dotted gray 1px;
    z-index: 1;
}

#selector2 {
    position: absolute;
    top: 208;
    margin: 25px 0 25px 0;
    left: 80px;
    width: 200px;
    border: dotted red 1px;
}

#infoparola {
    position: absolute;
    top: 0;
    margin: 12px 0 25px 12px;
    left: 282px;
    min-width: 450px;
    width: 78%;
    height: 410px;
    border: dotted red 1px;
}

.versettip {
    position: relative;
    width: 92%;
    padding: 4px;
    margin: auto;
    border: dotted cyan 1px;
}

.versettip .versetto {
    margin: 16px 8px 8px 18px;
    border: dotted yellow 1px;
}

.versettip hr {
    width: 45%;
    color: silver;
    size: 2px;
}

.versettip .versetto .quale {
    font-family: inconsolata;
    font-size: 20px;
    font-weight: 800;
    margin: 0 0 0 -10px;
    border: dotted grey 1px;
}

.versettip .versetto p {
    font-family: inconsolata;
    font-size: 18px;
    margin: 5px 0;
    padding: 6px 18px 0 32px;
    border: dotted grey 1px;
}

.versettip .versetto .testo {
    font-family: inconsolata;
    font-size: 18px;
    margin: 5px 0;
    padding: 6px 18px 0 32px;
    border: dotted grey 1px;
}

.versetto {
    margin: 16px 8px 6px 18px;
    /*
     border: dotted yellow 1px;
     */
}

.versetto .quale {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 0 -8px;
    /*
     border: dotted grey 1px;
     */
}

.versetto .testo {
    font-family: Helvetica;
    font-size: 18px;
    margin: 0px 0;
    padding: 2px 22px 0px;
    /*
     border: dotted grey 1px;
     */
}

#versettip #quanti {
}

#versettip #order {
}

#versettip #sort {
}

#versettip #pager {
}

#desk1 {
    /*Descrittore delle info a lato dei selettori parole*/
}

.selector {
    border: none;
    background-color: rgba(255, 255, 255, 0.0);
    color: #BBBBBB;
    margin: 0 0 0 8px;
    padding: 0 0 0 4px;
    width: 12Em;
}

option {
    padding: 1px;
}

.tbl-footer {
    border-bottom: 2px solid #C3DAF9;
    font-weight: bold;
    padding: 3px;
}

optgroup { /* Text and background colour, blue on light gray */
    color: #00f;
    background-color: #ddd;
    padding: 0 0 0 5px;
}

optgroup option {
    padding: 0 0 0 15px;
}

.testo_18 {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 100;
}

.text2 {
    background-color: #ccc;
    border-bottom-color: #000000;
    border-right-color: #000000;
    border-width: 1px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-shadow: 0px 0px 1px #888;
}

.capitolo {
    text-align: justify;
    font-family: Helvetica;
    font-size: 18px;
    /*font-size:300%;*/
    font-weight: 400;
    line-height: 140%;
    width: 85%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 45px;
    /* 	text-shadow:0px 0px 1px #555; */
    -moz-column-count: 6;
    -moz-column-width: 400px;
    -moz-column-gap: 2em;
    -moz-column-rule: 1px solid silver;
    -webkit-column-count: 6;
    -webkit-column-width: 400px;
    -webkit-column-gap: 2em;
    -webkit-column-rule: 1px solid silver;
    /*height: 80%; Disabilitato di Base attivabile nella User Preferences (a me mi piace)*/
    /*
     letter-spacing: 0.05em;
     */
}

.capitolo_inter {
    text-align: justify;
    font-family: Helvetica;
    font-size: 18px;
    /*font-size:300%;*/
    font-weight: 400;
    line-height: 140%;
    width: 85%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 45px;
}

.capitolo_h1 {
    font-size: 32;
    font-weight: 400;
    letter-spacing: 0.18em;
    margin: 12px 0 4px 0;
    text-align: center;
    font-family: Helvetica;
    font-variant: small-caps;
}

.capitolo p {
    text-indent: 2em;
    margin: 12px 0 12px 0;
}




.capitolo_inter .cpp {
    font-weight: 400;
    font-size: 120%;
    padding-left: 0.4em;
    color: #6EDFBC;
	padding:0;
	
/*
border: dotted grey 1px;
*/
}


.capitolo .cpp {
    font-weight: 400;
    font-size: 120%;
    padding-left: 0.4em;
    color: #6EDFBC;

}

.ver {
}

.sel {
    font-weight: 400;
    color: #fcffda;
}

.sel a {
    font-weight: 400;
    color: #fcffda;
}

.ver_inter1 {
	width: 48%;
	float: left;
	color: #EDE5F0;
	font-size: 18;
	margin: 4px 0 0 0;

}

.ver_inter2 {
	width: 48%;
	float: right;
color: #EDE5F0;
font-size: 18;
}

.ver_inter_c{
	font-weight: 400;
    color: #6EDFBC;
	margin:auto;
	width:3em;
	text-align:center;
}


.sel_inter1 {
    font-weight: 400;
    color: #fcffda;
	min-height:100px;
}

.sel_inter1 a {
    font-weight: 400;
    color: #fcffda;
}

.sel_inter2 {
    font-weight: 400;
    color: #fcffda;
	min-height:100px;
}

.sel_inter2 a {
    font-weight: 400;
    color: #fcffda;
}

#versetti {
    text-align: justify;
    font-family: Helvetica;
    font-size: 16px;
    /*font-size:300%;*/
    font-weight: 400;
    line-height: 140%;
    width: 92%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 45px;
    /* 	text-shadow:0px 0px 1px #555; */
    -moz-column-count: 6;
    -moz-column-width: 400px;
    -moz-column-gap: 2em;
    -moz-column-rule: 1px solid silver;
    -webkit-column-count: 6;
    -webkit-column-width: 400px;
    -webkit-column-gap: 2em;
    -webkit-column-rule: 1px solid silver;
    /*height: 80%; Disabilitato di Base attivabile nella User Preferences (a me mi piace)*/
}

#versetti .versetto {
    min-height: 100px;
}

/***************************************
 =cluetipClass: 'jtip'
 -------------------------------------- */
.cluetip-jtip {
    background-color: transparent;
}

.cluetip-jtip #cluetip-outer {
    border: 1px solid grey;
    position: relative;
    background-color: #000;
    -moz-border-radius: 8px;
}

.cluetip-jtip #cluetip-inner {
    padding: 0 5px 5px;
    display: inline-block;
    line-height: 15px;
    text-shadow: 1px 1px 5px #444;
}

.cluetip-jtip div#cluetip-close {
    text-align: right;
    margin: 0 5px 5px;
    color: #900;
}
